.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.text-description {
    position:relative;
    display:table;
}

textarea {
    padding-bottom: 20px;
}

.word-counter {
    width: 90px;
}
